<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Implicit sample</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
  <h1>Implicit sample</h1>
  <h2>What do you want to do?</h2>
  <ul>
    <li>
      <a
        th:href="@{{uaa}/oauth/authorize(uaa=${ssoServiceUrl},client_id=${clientId},response_type='token',redirect_uri=|${thisUrl}implicit.html#uaaLocation=${ssoServiceUrl}|) }">Use
        the Implicit Grant and see the response from /userinfo</a>
    </li>
  </ul>
</body>
</html>
