
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Authcode sample</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
  <h1>Authcode sample</h1>

  <p>You've used the authcode flow! Here's the result of calling /userinfo:</p>
  <pre th:utext="${user_info}"></pre>
  <p>This is the Access Token that was used:</p>
  <pre th:text="${access_token}"></pre>
  <p>This is the ID Token:</p>
  <pre th:text="${id_token}"></pre>

  <h2>What do you want to do?</h2>
  <ul>
    <li>
      <a href="/todo">TODO List (You need to configure the Resource Server sample app before using this)</a>
    </li>
    <li>
      <a target="uaa" th:href="|${ssoServiceUrl}/profile|">See your account profile (so you can de-authorize this client)</a>
    </li>
    <li>
      <form action="/logout" method="POST">
        <!--
          By default, spring security recommend logout in the form of a POST to protect form CSRF attacks
          For more info, visit: https://docs.spring.io/spring-security/site/docs/current/api/org/springframework/security/config/annotation/web/configurers/LogoutConfigurer.html#logoutUrl-java.lang.String-
        -->
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
        <button>Log out</button>
      </form>
    </li>
  </ul>

</body>
</html>
